vaadin-app-layout::part(navbar) {
    background-color: #2186EB;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.navbar-title {
    color: #F5F5F5;
    padding: 10px;
    text-align: center;
}

.custom-scroller {
    background-color: #57A7F5;
    color: #57A7F5;
    padding: 10px;
    border-radius: 15px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
}

.custom-scroller * {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.custom-sidenav-item {
    color: #F5F5F5;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.card {
  width: 100%;
  height: 370px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 9px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
    box-shadow: 8px 16px 32px rgba(33, 134, 235, 0.8);
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.centered-bold-label {
  text-align: center; /* Выравнивание текста по центру */
  font-weight: bold; /* Жирный текст */
}

.centered-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.filter-bar {
  padding-top: 20px;
  padding-left: 80px;
  display: flex;
  justify-content: flex-start; /* Выравнивание по левому краю */
  margin-bottom: 20px;
  width: 100%; /* Занимает всю ширину контейнера */
}